<div>
    <button type="button" title="start" name="start" (click)="movePieceLeft()">left</button>
</div>
<div>
    <button type="button" title="start" name="start" (click)="movePieceRight()">right</button>
</div>
<div>
    <button type="button" title="start" name="start" (click)="movePieceDown()">down</button>
</div>
<div>
    <button type="button" title="start" name="start" (click)="movePieceDownhardDrop()">hard drop</button>
</div>
<div>
    <button type="button" title="start" name="start" (click)="rotatePiece()">rotate clockwise</button>
</div>
<div>
    <button type="button" title="start" name="start" (click)="getRandomPiece()">new piece</button>
</div>
<div class="canvas-section">
    <canvas #canvas width="200px" height="400px"></canvas>
</div>

