.canvas-section {
    margin: 0 auto;
    border: 3px solid black;
    width: 400px;
    height: 800px;
}

/* The canvas of the game */
.canvas-section > canvas{
    position: absolute;
    z-index: -1;
}

/* The canvas that has the grid  */
canvas + canvas{
    position: absolute;
}

