html, body {
  height: 90vh;
  margin: 0;
  padding: 0;
}

div{
  border: 1px solid #000;
}

.container {
  height: 100%;
  margin: 100px 40px 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls{
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 80px;
  top: 150px;
  height: 800px;
  width: 300px;
}

.tetris-game{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tetris-board-container{
  display: flex;
  height: 100%;
}

.tetris-holden-piece-container{
  margin-right: 60px;
  height: min-content;
}

.tetris-next-pieces-container{
  margin-left: 60px;
  height: min-content;
}
